{% extends 'dreTaskTrackerBundle:Reach:layout.html.twig' %}

{% block title %}Add a Reach entry{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">{{ flashMessage }}</div>
	{% endfor %}
	<div class="col-5">
		<h2>New Reach Information</h2>
		<form action="{{ path('dre_task_tracker_reach_add') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			<fieldset>
				<legend>Reach Details</legend>
				<div class="text name form-group">
					{{ form_label(form.name, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
					<div class="col-lg-8">
						{{ form_errors(form.name) }}
						{{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
					</div>
				</div>
			</fieldset>

			<div class="form-group">
				<div class="col-lg-offset-1 col-lg-8">
					{{ form_rest(form) }}
					<br />
					<button type="submit" clsas="btn btn-default">Add Reach</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-3">
		{% include "dreTaskTrackerBundle:Reach:inc_reach.html.twig" %}
	</div>
{% endblock %}