<h3>Reach:</h3>
<b>Reach</b> will be used to determine where the task is to be applied, be it the main site, a geo-targeted portion of the site, an international site or more. This will help to organize how much work we do for these different areas.
