{% extends 'dreTaskTrackerBundle:Reach:layout.html.twig' %}

{% block title %}Task Reaches{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">{{ flashMessage }}</div>
	{% endfor %}
	<h2>Task Reaches</h2>
	<table class="table-condensed table-striped table-hover">
		<tr>
			<th>
				Name
			</th>
			<!--th>
				Task Count
			</th-->
			<th>Actions</th>
		</tr>

		{% if reaches %}
			{% for reach in reaches %}
				<tr>
					<td><a href="{{ path('dre_task_tracker_reach_edit', {'id': reach.id}) }}">{{ reach.name }}</a></td>
					<!--td align="center"><span class="badge">{#{ reach.task|length }#}</span></td-->
					<td align="center">
						<a href="{{ path('dre_task_tracker_reach_edit', {'id': reach.id}) }}" class="icon-reach-edt text-replace">edit</a>
						<a href="#" class="icon-reach-del text-replace">delete</a>
					</td>
				</tr>
			{% endfor %}
			<tr>
				<td colspan="3"><a href="{{ path('dre_task_tracker_reach_add') }}"><span class="icon-reach-add"></span> Add a new reach</a></td>
			</tr>
		{% else %}
			There are no reaches currently in our system. Would you like to <a href="{{ path('dre_task_tracker_reach_add') }}">add one</a>?
		{% endif %}
	</table>
{% endblock %}
