<table class="table-condensed table-bordered table-striped table-hover">
	<tr>
		<td colspan="2">
			<h2>Campaigns <a href="{{ path('dre_task_tracker_campaign_add') }}"><span class="icon-cpgn-add"></span></a></h2>
		</td>
		<td colspan="9">
				<ul class="pager">
					<a href="{{ path('dre_task_tracker_campaign', {'sort': 'id', 'display': 'active'}) }}">Active</a> |
					<a href="{{ path('dre_task_tracker_campaign', {'sort': 'id', 'display': 'inactive'}) }}">Inactive</a> |
					<a href="{{ path('dre_task_tracker_campaign', {'sort': 'id', 'display': 'all'}) }}">All</a>
				</ul>
		</td>
		<td colspan="2">
			{{ campaigns|length }} campaigns
		</td>
	</tr>
	<tr>
		<th class="nowrap">
			IO
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'ASC'}) }#}" class="text-replace icon-sort-num-asc">asc</a>
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'DESC'}) }#}" class="text-replace icon-sort-num-dsc">desc</a>
		</th>
        <th class="nowrap">
            DFP
            <a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'ASC'}) }#}" class="text-replace icon-sort-num-asc">asc</a>
            <a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'DESC'}) }#}" class="text-replace icon-sort-num-dsc">desc</a>
        </th>
		<th class="nowrap">
			Name
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'ASC'}) }#}" class="text-replace icon-sort-alpa-asc">asc</a>
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'DESC'}) }#}" class="text-replace icon-sort-alpa-dsc">desc</a>
		</th>
		<th class="nowrap">
			Start Date
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'ASC'}) }#}" class="text-replace icon-sort-num-asc">asc</a>
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'DESC'}) }#}" class="text-replace icon-sort-num-dsc">desc</a>
		</th>
		<th class="nowrap">
			End Date
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'ASC'}) }#}" class="text-replace icon-sort-num-asc">asc</a>
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'DESC'}) }#}" class="text-replace icon-sort-num-dsc">desc</a>
		</th>
		<th class="nowrap">
			SoV
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'sov', 'dir': 'ASC'}) }#}" class="text-replace icon-sort-alpa-asc">asc</a>
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'sov', 'dir': 'DESC'}) }#}" class="text-replace icon-sort-alpa-dsc">desc</a>
		</th>
		<th class="nowrap">
			Task Count
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'ASC'}) }#}" class="text-replace icon-sort-num-asc">asc</a>
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'DESC'}) }#}" class="text-replace icon-sort-num-dsc">desc</a>
		</th>
		<th class="nowrap">Manager</th>
		<th class="nowrap">Dev</th>
        <th class="nowrap">PC</th>
		<th class="nowrap">
			Added
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'ASC'}) }#}" class="text-replace icon-sort-num-asc">asc</a>
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'DESC'}) }#}" class="text-replace icon-sort-num-dsc">desc</a>
		</th>
		<th class="nowrap">
			Updated
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'ASC'}) }#}" class="text-replace icon-sort-num-asc">asc</a>
			<a href="{#{ path('dre_affverify_vertical', {'sort': 'name', 'dir': 'DESC'}) }#}" class="text-replace icon-sort-num-dsc">desc</a>
		</th>
		<th class="nowrap center">Actions</th>
	</tr>

	{% if campaigns %}
		{% for campaign in campaigns %}
			<tr>
				<td class="nowrap"><a href="{{ path('dre_task_tracker_campaign_edit', {'id': campaign.id}) }}">{{ campaign.ionum }}</a></td>
                <td class="nowrap"><a href="{{ path('dre_task_tracker_campaign_edit', {'id': campaign.id}) }}">{{ campaign.dfplineid }}</a></td>
				<td class="nowrap">
					<a href="{{ path('dre_task_tracker_campaign_edit', {'id': campaign.id}) }}">
						{% if campaign.reachid != '' %}
							<span class="reach{{ campaign.reachid }}">{{ campaign.reachname }}</span> -
						{% endif %}
						{{ campaign.name }}</a>
				</td>
				<td class="nowrap">{{ campaign.start|date("m-d-Y") }}</td>
				<td class="nowrap">{{ campaign.end|date("m-d-Y") }}</td>
				<td class="nowrap center {% if campaign.sov != 100 %}highlight{% endif %}">{{ campaign.sov }}%</td>
				<td class="nowrap" align="center">
					<span class="badge reach{{ campaign.reachid }}">{{ campaign.taskcount }}</span>
				</td>
				<td class="nowrap">
					{% if campaign.managerid != false %}
					<a href="{{ path('dre_task_tracker_manager_edit', {'id': campaign.managerid}) }}">{{ campaign.managername }}</a></td>
				{% else %}<a href="{{ path('dre_task_tracker_campaign_edit', {'id': campaign.id}) }}">Add Manager</a>
				{% endif %}
				<td class="nowrap">{% if campaign.devid != false %}
						<a href="{{ path('dre_task_tracker_dev_edit', {'id': campaign.devid}) }}">{{ campaign.devname }}</a>
					{% else %}<a href="{{ path('dre_task_tracker_campaign_edit', {'id': campaign.id}) }}">Add Dev</a>
					{% endif %}
				</td>
                <td class="nowrap">{% if campaign.coordinatorid != false %}
                        <a href="{{ path('dre_task_tracker_coordinator_edit', {'id': campaign.coordinatorid}) }}">{{ campaign.coordinatorname }}</a>
                    {% else %}<a href="{{ path('dre_task_tracker_campaign_edit', {'id': campaign.id}) }}">Add PC</a>
                    {% endif %}
                </td>
				<td class="nowrap">{{ campaign.added|date("m-d-Y h:i") }}</td>
				<td class="nowrap">{{ campaign.updated|date("m-d-Y h:i") }}</td>
				<td class="nowrap">
					<a href="{{ path('dre_task_tracker_campaign_edit', {'id': campaign.id}) }}" class="text-replace icon-cpgn-edt">edit</a>
					{% if campaign.basecamp != '' %}
						<a href="https://sheknows.basecamphq.com/projects/{{ campaign.basecamp }}" target="_blank" class="text-replace icon-globe">basecamp</a>
					{% endif %}
					{# Don't show the DSM link if it's not a DSM campaign #}
					{% if campaign.ionum|length >= 7 %}
						<a href="https://dsm.doubleclick.net/tcf/ProposalSummaryDisplay.view?proposalId={{ campaign.ionum }}" target="_blank" class="text-replace icon-dsm">dsm</a>
					{% endif %}
					{# Don't show the Jira link we don't have a Jira ID #}
					{% if campaign.jiraid != '' %}
						<a href="https://sheknows.jira.com/browse/CQ-{{ campaign.jiraid }}" target="_blank" class="text-replace icon-jira">jira</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		<tr>
			<td colspan="13"><a href="{{ path('dre_task_tracker_campaign_add') }}"><span class="icon-cpgn-add"></span> Add a new campaign</a></td>
		</tr>
	{% else %}
		There are no campaigns currently in our system. Would you like to <a href="{{ path('dre_task_tracker_campaign_add') }}">add one</a> ?
	{% endif %}

</table>
