{% extends 'dreTaskTrackerBundle:Category:layout.html.twig' %}

{% block title %}Campaigns{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">
			{{ flashMessage }}
		</div>
	{% endfor %}

	<h1>New Campaign Information</h1>
	<form action="{{ path('dre_task_tracker_campaign_add') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
		<fieldset>
			<legend>Campaign Details</legend>
			<div class="text ionum form-group">
				{{ form_label(form.ionum, 'IO #', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				<div class="col-lg-5">
					{{ form_errors(form.ionum) }}
					{{ form_widget(form.ionum, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
            <div class="text dfplineid form-group">
                {{ form_label(form.dfplineid, 'DFP #', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
                <div class="col-lg-5">
                    {{ form_errors(form.dfplineid) }}
                    {{ form_widget(form.dfplineid, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
			<div class="text jiraid form-group">
				{{ form_label(form.jiraid, 'Jira #', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				<div class="col-lg-5">
					{{ form_errors(form.jiraid) }}
					<div class="input-group">
						<span class="input-group-addon">
                            CQ-
						</span>
						{{ form_widget(form.jiraid, {'attr': {'class': 'form-control'}}) }}
					</div>
				</div>
			</div>
			<div class="text reach form-group">
				{{ form_label(form.reach, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				<div class="col-lg-5">
					{{ form_errors(form.reach) }}
					{{ form_widget(form.reach, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="text sov form-group">
				{{ form_label(form.sov, 'SoV', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				<div class="col-lg-5">
					{{ form_errors(form.sov) }}
					{{ form_widget(form.sov, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="text name form-group">
				{{ form_label(form.name, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				<div class="col-lg-5">
					{{ form_errors(form.name) }}
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="text basecamp form-group">
				{{ form_label(form.basecamp, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				<div class="col-lg-5">
					{{ form_errors(form.basecamp) }}
					{{ form_widget(form.basecamp, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="text start form-group">
				{{ form_label(form.start, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				<div class="col-lg-5">
					{{ form_errors(form.start) }}
					{{ form_widget(form.start, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="text end form-group">
				{{ form_label(form.end, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				<div class="col-lg-5">
					{{ form_errors(form.end) }}
					{{ form_widget(form.end, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
            <div class="text coordinator form-group">
                {{ form_label(form.coordinator, 'PC', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
                <div class="col-lg-5">
                    {{ form_errors(form.coordinator) }}
                    {{ form_widget(form.coordinator, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
			<div class="text manager form-group">
				{{ form_label(form.manager, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				<div class="col-lg-5">
					{{ form_errors(form.manager) }}
					{{ form_widget(form.manager, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="text dev form-group">
				{{ form_label(form.dev, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				<div class="col-lg-5">
					{{ form_errors(form.dev) }}
					{{ form_widget(form.dev, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-offset-1 col-lg-5">
					{{  form_rest(form) }}
					<br />
					<button type="submit" class="btn btn-default">Add Campaign</button>
				</div>
			</div>
		</fieldset>
	</form>

{% endblock %}
