{% extends 'dreTaskTrackerBundle:Category:layout.html.twig' %}

{% block title %}Campaigns{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">
			{{ flashMessage }}
		</div>
	{% endfor %}

	<h1>Edit Campaign Information</h1>
	<div class="row">
		<span class="span7">
			<form action="{{ path('dre_task_tracker_campaign_update') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
				<fieldset>
					<legend>Campaign Details</legend>
					<div class="text ionum form-group">
						{{ form_label(form.ionum, 'IO #', {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
						<div class="col-lg-8">
							{{ form_errors(form.ionum) }}
							<div class="input-group">
								{{ form_widget(form.ionum, {'attr': {'class': 'form-control'}}) }}
								<span class="input-group-addon">
									{# Don't show the DSM link if it's not a DSM campaign #}
									{% if campaign.ionum|length >= 7 %}
										<a href="https://dsm.doubleclick.net/tcf/ProposalSummaryDisplay.view?proposalId={{ campaign.ionum }}" target="_blank" class="text-replace icon-dsm">dsm</a>
									{% endif %}
								</span>
							</div>
						</div>
					</div>
                    <div class="text dfplineid form-group">
                        {{ form_label(form.dfplineid, 'DFP #', {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.dfplineid) }}
                            <div class="input-group">
                                {{ form_widget(form.dfplineid, {'attr': {'class': 'form-control'}}) }}
								<span class="input-group-addon">
                                    <a href="https://www.google.com/dfp/8352#delivery/OrderDetail/orderId={{ campaign.dfplineid }}" target="_blank" class="text-replace icon-dsm">dsm</a>
								</span>
                            </div>
                        </div>
                    </div>
					<div class="text jiraid form-group">
						{{ form_label(form.jiraid, 'Jira #', {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
						<div class="col-lg-8">
							{{ form_errors(form.jiraid) }}
							<div class="input-group">
								<span class="input-group-addon">
                                    CQ-
								</span>
								{{ form_widget(form.jiraid, {'attr': {'class': 'form-control'}}) }}
								<span class="input-group-addon">
                                    <a href="https://sheknows.jira.com/browse/CQ-{{ campaign.jiraid }}" target="_blank" class="text-replace icon-jira">jira</a>
								</span>
							</div>
						</div>
					</div>
					<div class="text reach form-group">
						{{ form_label(form.reach, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
						<div class="col-lg-8">
							{{ form_errors(form.reach) }}
							<div class="input-group">
								{{ form_widget(form.reach, {'attr': {'class': 'form-control'}}) }}
								<span class="input-group-addon">
									<a href="{{ path('dre_task_tracker_reach') }}" target="_blank" class="icon-reach text-replace">reach</a>
								</span>
							</div>
						</div>
					</div>
					<div class="text sov form-group">
						{{ form_label(form.sov, 'SoV', {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
						<div class="col-lg-8">
							{{ form_errors(form.sov) }}
							{{ form_widget(form.sov, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="text name form-group">
						{{ form_label(form.name, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
						<div class="col-lg-8">
							{{ form_errors(form.name) }}
							{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="text basecamp form-group">
						{{ form_label(form.basecamp, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
						<div class="col-lg-8">
							{{ form_errors(form.basecamp) }}
							<div class="input-group">
								{{ form_widget(form.basecamp, {'attr': {'class': 'form-control'}}) }}
								<span class="input-group-addon">
									{% if campaign.basecamp != '' %}
										<a href="https://sheknows.basecamphq.com/projects/{{ campaign.basecamp }}" target="_blank" class="text-replace icon-globe">basecamp</a>
									{% endif %}
								</span>
							</div>
						</div>
					</div>
                </fieldset>
                <fieldset>
                    <legend>Dates</legend>
                    <div class="text start form-group">
                        {{ form_label(form.start, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.start) }}
                            {{ form_widget(form.start, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="text end form-group">
                        {{ form_label(form.end, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.end) }}
                            {{ form_widget(form.end, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>People</legend>
                    <div class="text coordinator form-group">
                        {{ form_label(form.coordinator, 'PC', {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.coordinator) }}
                            {{ form_widget(form.coordinator, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="text manager form-group">
                        {{ form_label(form.manager, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.manager) }}
                            {{ form_widget(form.manager, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="text dev form-group">
                        {{ form_label(form.dev, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.dev) }}
                            <div class="input-group">
                                {{ form_widget(form.dev, {'attr': {'class': 'form-control'}}) }}
                            <span class="input-group-addon">
                                <a href="{{ path('dre_task_tracker_dev') }}" target="_blank" class="icon-dev text-replace">dev</a>
                            </span>
                            </div>
                        </div>
                    </div>
                </fieldset>

					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-5">
							{{  form_rest(form) }}
							<br />
							<button type="submit" class="btn btn-default">Update Campaign</button>
						</div>
					</div>
			</form>
		</span>
		<span class="span6">
			<legend>
					Tasks
					<span class="badge">{{ campaign.task|length }}</span>
					<a href="#" data-toggle="modal" data-target="#add" }}" class="pull-right"><span class="icon-task-add"></span></a>
			</legend>
			<table class="table-condensed table-striped table-hover">
				<tr>
					<th>Due</th>
					<th>Completed</th>
					<th>Assets</th>
					<th colspan="2">Task</th>
				</tr>
				{% for task in campaign.task %}
					<tr {% if task.completed != '' %}class="success"{% endif %} >
						<td valign="top" class="nowrap {% if task.completed != '' %}success{% endif %}">{{ task.due|date("m-d-Y") }}</td>
						<td valign="top" class="nowrap {% if task.completed != '' %}success{% endif %}">{% if task.completed != '' %}{{ task.completed|date("m-d-Y") }}{% endif %}</td>
						<td valign="top" class="nowrap {% if task.completed != '' %}success{% endif %}">{% if task.assets != '' %}{{ task.assets|date("m-d-Y") }}{% endif %}</td>
						<td {% if task.completed != '' %}class="success"{% endif %} ><a href="{{ path('dre_task_tracker_task_edit', {'id': task.id, 'redir': 'campaign'}) }}">{{ task.name }}</a></td>
						<td {% if task.completed != '' %}class="success"{% endif %} >
							{% if task.basecamp != '' %}
							<a href="{{ task.basecamp }}" target="_blank" class="text-replace icon-globe">basecamp</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</span>
	</div>
	{# -- Modal ----- #}
	<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2>Quick Add</h2>
				</div>
				{{ render (controller('dreTaskTrackerBundle:Task:add', {'id': campaign.id, 'template': 'modal'})) }}
			</div>
		</div>
	</div>
	{# -- endModal -- #}

{% endblock %}
