{% extends 'dreTaskTrackerBundle:Campaign:layout.html.twig' %}

{% block title %}Campaigns{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">
			{{ flashMessage }}
		</div>
	{% endfor %}

	{% include "dreTaskTrackerBundle:Campaign:_inc-list.html.twig" %}
{% endblock %}
