{% extends 'dreTaskTrackerBundle:Manager:layout.html.twig' %}

{% block title %}Manager Listings{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">
			{{ flashMessage }}
		</div>
	{% endfor %}
	<h1>Manager Listing</h1>
	{% include "dreTaskTrackerBundle:Manager:_inc-list.html.twig" %}
{% endblock %}
