<div class="reportcal">
	<table class="table-bordered reportcal">
		<thead><tr><th colspan="4" class="center">{{ year.year }}</th></tr></thead>
		<tbody>
		<tr>
			<td>{% if year.year != 2013 %}<a href="{{ path('dre_task_tracker_report_month', {'year': year.year, 'mon': '01'}) }}">{% endif %}Jan</a></td>
			<td>{% if year.year != 2013 %}<a href="{{ path('dre_task_tracker_report_month', {'year': year.year, 'mon': '02'}) }}">{% endif %}Feb</a></td>
			<td>{% if year.year != 2013 %}<a href="{{ path('dre_task_tracker_report_month', {'year': year.year, 'mon': '03'}) }}">{% endif %}Mar</a></td>
			<td>{% if year.year != 2013 %}<a href="{{ path('dre_task_tracker_report_month', {'year': year.year, 'mon': '04'}) }}">{% endif %}Apr</a></td>
		</tr>
		<tr>
			<td>{% if year.year != 2013 %}<a href="{{ path('dre_task_tracker_report_month', {'year': year.year, 'mon': '05'}) }}">{% endif %}May</a></td>
			<td>{% if year.year != 2013 %}<a href="{{ path('dre_task_tracker_report_month', {'year': year.year, 'mon': '06'}) }}">{% endif %}Jun</a></td>
			<td>{% if year.year != 2013 %}<a href="{{ path('dre_task_tracker_report_month', {'year': year.year, 'mon': '07'}) }}">{% endif %}Jul</a></td>
			<td>{% if year.year != 2013 %}<a href="{{ path('dre_task_tracker_report_month', {'year': year.year, 'mon': '08'}) }}">{% endif %}Aug</a></td>
		</tr>
		<tr>
			<td>{% if year.year != 2013 %}<a href="{{ path('dre_task_tracker_report_month', {'year': year.year, 'mon': '09'}) }}">{% endif %}Sep</a></td>
			<td><a href="{{ path('dre_task_tracker_report_month', {'year': year.year, 'mon': '10'}) }}">Oct</a></td>
			<td><a href="{{ path('dre_task_tracker_report_month', {'year': year.year, 'mon': '11'}) }}">Nov</a></td>
			<td><a href="{{ path('dre_task_tracker_report_month', {'year': year.year, 'mon': '12'}) }}">Dec</a></td>
		</tr>
		</tbody>
	</table>
	<br />
</div>
