{% set total = ''  %}
<table class="table-bordered">
	<thead>
	<tr>
		<th colspan="2">By Dev</th>
	</tr>
	</thead>
	<tbody>
	{% for dev in byDev %}
			<tr>
				<td>{{ dev.devname }}</td>
				<td>{{ dev.taskcount }}</td>
				{% set total = total + dev.taskcount %}
			</tr>
		{% endfor %}
		<tr>
			<th>Total:</th>
			<th>{{ total }}</th>
		</tr>
	</tbody>
</table>
