{% extends 'dreTaskTrackerBundle:Default:layout.html.twig' %}

{% block title %}Task Tracker{% endblock %}
{% block bodyclass %}report{% endblock %}
{% block body %}
	<h1>Task Tracker<small> - Report By Month {{ mon }}-{{ year }}</small></h1>

	<div class="statcontainer">
		<h2>Stats for this month</h2>
		<div class="statblock">
			{% if tn %}
				{% include "dreTaskTrackerBundle:Task:_inc_breakoutTasks.html.twig" %}
			{% else %}
				No task data for this month.
			{% endif %}
		</div>
		<div class="statblock">
			{% if tn %}
				{% include "dreTaskTrackerBundle:Category:_inc_breakoutByCat.html.twig" %}
			{% else %}
				No task data for this month.
			{% endif %}
		</div>
		<div class="statblock">
			{% if byDev %}
				{% include "dreTaskTrackerBundle:Report:_inc_breakoutByDev.html.twig" %}
			{% else %}
				No dev info for this month.
			{% endif %}
		</div>
	</div>

	<div class="statcontainer pagebreak">
		<h3>Task List for this month</h3>
		{% include "dreTaskTrackerBundle:Task:_inc-list-report.html.twig" %}
	</div>

{% endblock %}
