{% extends 'dreTaskTrackerBundle:Default:layout.html.twig' %}

{% block title %}Task Tracker{% endblock %}
{% block bodyclass %}report{% endblock %}
{% block body %}
	<h1>Task Tracker<small> - Reports</small></h1>
	<br />
	<div class="row">
		<div class="col-lg-6">
			<h3>By Month</h3>

			{% for year in years %}
				{% include "dreTaskTrackerBundle:Report:_inc_yearly-calendar.html.twig" %}
			{% endfor %}
		</div>
	</div>
	<br />
{% endblock %}
