<table class="table-condensed table-striped table-hover">
	<thead>
	<tr> {# if you update the columns, update the colspan at the bottom of the for statement #}
		<th>
			Name
			<a href="#" class="text-replace icon-sort-alpa-asc">asc</a>
			<a href="#" class="text-replace icon-sort-alpa-dsc">dsc</a>
		</th>
		<th>
			Campaigns
			<a href="#" class="text-replace icon-sort-num-asc">asc</a>
			<a href="#" class="text-replace icon-sort-num-dsc">dsc</a>
		</th>
		<th>
			Actions
		</th>
	</tr>
	</thead>
	<tbody>
	{% if coordinators %}
		{% for pc in coordinators %}
			<tr>
				<td><a href="{{ path('dre_task_tracker_coordinator_edit', {'id': pc.id}) }}">{{ pc.name }}</a></td>
				<td align="center"><span class="badge">{{ pc.campaign|length }}</span></td>
				<td align="center">
					<a href="{{ path('dre_task_tracker_coordinator_edit', {'id': pc.id}) }}" class="icon-mngr-edt text-replace">edit</a>
					<a href="{{ path('dre_task_tracker_coordinator_delete', {'id': pc.id}) }}" class="icon-mngr-del text-replace">delete</a>
				</td>
			</tr>
		{% endfor %}
		<tr>
			<td colspan="3"><a href="{{ path('dre_task_tracker_coordinator_add') }}"><span class="icon-mngr-add"></span>&nbsp; Add a new Coordinator</a></td>
		</tr>
	{% else %}
		There are no Coordinator currently in our system. Would you like to <a href="{{ path('dre_task_tracker_coordinator_add') }}">add one</a> ?
	{% endif %}
	</tbody>
</table>
