{% extends 'dreTaskTrackerBundle:Coordinator:layout.html.twig' %}

{% block title %}Add a Coordinator{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">{{ flashMessage }}</div>
	{% endfor %}
	<h1>New Manager Information</h1>
	<form action="{{ path('dre_task_tracker_coordinator_add') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
		<fieldset>
			<legend>Coordinator Details</legend>
			<div class="text name form-group">
				{{ form_label(form.name, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				<div class="col-lg-5">
					{{ form_errors(form.name) }}
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-offset-1 col-lg-5">
					{{  form_rest(form) }}
					<br />
					<button type="submit" class="btn btn-default">Add Coordinator</button>
				</div>
			</div>
		</fieldset>
	</form>
{% endblock %}
