{% extends 'dreTaskTrackerBundle:Coordinator:layout.html.twig' %}

{% block title %}Edit a Coordinator{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">{{ flashMessage }}</div>
	{% endfor %}
	<h1>Coordinator Information</h1>
	<div class="row">
		<div class="span4">
			<form action="{{ path('dre_task_tracker_coordinator_update') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
				<fieldset>
					<legend>Coordinator Details</legend>
					<div class="text name form-group">
						{{ form_label(form.name, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
						<div class="col-lg-5">
							{{ form_errors(form.name) }}
							{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-1 col-lg-5">
							{{  form_rest(form) }}
							<br />
							<button type="submit" class="btn btn-default">Update Coordinator</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="span6">
			<legend>Campaigns <span class="badge">{{ coordinator.campaign|length }}</span></legend>
			<table class="table-condensed table-striped table-hover">
				{% if coordinator.campaign|length != 0 %}
                    {% for campaign in coordinator.campaign %}
                        <tr>
                            <td><a href="{{ path('dre_task_tracker_campaign_edit', {'id': campaign.id}) }}">{{ campaign.ionum }} - {{ campaign.name }}</a></td>
                            <td valign="top">
                                {% if campaign.basecamp != '' %}
                                    <a href="https://sheknows.basecamphq.com/projects/{{ campaign.basecamp }}" target="_blank" class="text-replace icon-globe">basecamp</a>
                                {% endif %}
                                {% if campaign.ionum|length >= 7 %}
                                    <a href="https://dsm.doubleclick.net/tcf/ProposalSummaryDisplay.view?proposalId={{ campaign.ionum }}" target="_blank" class="text-replace icon-dsm">dsm</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
			</table>
		</div>
	</div>
{% endblock %}
