{% extends 'dreTaskTrackerBundle:Coordinator:layout.html.twig' %}

{% block title %}Coordinator Listings{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">
			{{ flashMessage }}
		</div>
	{% endfor %}
	<h1>Manager Listing</h1>
	{% include "dreTaskTrackerBundle:Coordinator:_inc-list.html.twig" %}
{% endblock %}
