{% set total = ''  %}
<table class="table-bordered">
	<thead>
	<tr>
		<th colspan="2">Task Totals</th>
	</tr>
	</thead>
	<tbody>
		<tr><th colspan="2">Same Day Totals</th></tr>
		<tr>
			<td>Same Day Turnarounds Total</td>
			<td>{{ tn.dates.sdt }}</td>
		</tr>
		<tr>
			<td class="info">Same Day Turnarounds (Date Due)</td>
			<td class="info">{{ tn.dates.sdad }}</td>
		</tr>
		<tr>
			<td class="info">Same Day Turnarounds (Assets)</td>
			<td class="info">{{ tn.dates.sdaa }}</td>
		</tr>
		<tr>
			<td class="info">Same Day Turnarounds (Misc)</td>
			<td class="info">{{ tn.dates.sdcm }}</td>
		</tr>
		<tr>
			<td>Everything Else</td>
			<td>{{ tn.dates.rest }}</td>
		</tr>
		<tr>
			<th>Total Tasks:</th>
			<th>
				{% set total = tn.dates.sdt + tn.dates.rest %}
				{{ total }}
			</th>
		</tr>
	</tbody>
</table>
