<table class="table-condensed table-bordered table-striped table-hover">
	<tr>
		<th colspan="2">
			<h2>Tasks</h2>
		</th>
		<td colspan="7" class="center">
		</td>
		<th colspan="2" class="center">
			{{ tasks|length }} tasks
		</th>
	</tr>
	<tr>
		<th class="nowrap">Due</th>
		<th class="nowrap">Added</th>
		<th class="nowrap">Assets</th>
		<th class="nowrap">Completed</th>
		<th class="nowrap">Campaign</th>
		<th class="nowrap">Task Name</th>
		<th class="nowrap">Run Dates</th>
		<th class="nowrap">AM</th>
		<th class="nowrap">Dev</th>
		<th class="nowrap">Category</th>
	</tr>

	{% if tasks %}
		{% for task in tasks %}
			<tr>
				<td class="nowrap">{{ task.due|date("m-d-Y") }}</td>
				<td class="nowrap">{{ task.added|date("m-d-Y") }}</td>
				<td class="nowrap">{% if task.assets != '' %}{{ task.assets|date("m-d-Y") }}{% endif %}</td>
				<td class="nowrap">{% if task.completed != '' %}{{ task.completed|date("m-d-Y") }}{% endif %}</td>
				<td class="nowrap">
					{% if task.campaignionum %}{{ task.campaignionum }} - {% endif %}
					{% if task.campaignreachname %}{{ task.campaignreachname }} - {% endif %}
					{{ task.campaignname }}
				</td>
				<td class="nowrap">{{ task.name }}</td>
				<td class="center nowrap">{% if task.runstart %}{{ task.runstart|date("m/d/Y") }}{% if task.runend %} &mdash; {{ task.runend|date("m/d/Y") }}{% endif %}{% endif %}</td>
				<td class="nowrap">{{ task.managername }}</td>
				<td class="nowrap">{{ task.devname }}</td>
				<td class="nowrap">{{ task.categoryname }}</td>
			</tr>
		{% endfor %}
	{% endif %}

</table>
