<table class="table-condensed table-bordered table-striped table-hover">
	<thead>
	<tr>
		<th colspan="8">
			<h2>Tasks
				<a href="{{ path('dre_task_tracker_task_add') }}"><span class="icon-task-add"></span></a>
			</h2>
		</th>
	</tr>
	</thead>
	<tr>
		<th class="nowrap">
			Due
		</th>
		{% if display == 'complete' %}
		<th class="nowrap">
			Completed
		</th>
		{% endif %}
		<th class="nowrap">
			Campaign
		</th>
		<th class="nowrap">
			Task Name
		</th>
		<th class="nowrap">
			Dev
		</th>
		<th class="nowrap">
			Category
		</th>
		<th class="nowrap">
			Assets
		</th>
		<th class="nowrap">AM</th>
		<th class="nowrap">Actions</th>
	</tr>

	{% if tasks %}
		{% for task in tasks %}
			<tr class="{{ task.dueness }}">
				<td class="nowrap">
					{{ task.due|date("m-d-Y") }}
				</td>
				{% if display == 'complete' %}
				<td class="nowrap">{% if task.completed != '' %}{{ task.completed|date("m-d-Y") }}{% endif %}</td>
				{% endif %}
				<td class="nowrap">
					<a href="{{ path('dre_task_tracker_campaign_edit', {'id': task.campaignid}) }}">
						{% if task.campaignionum %}{{ task.campaignionum }} - {% endif %}
						{% if task.campaignreachname %}{{ task.campaignreachname }} - {% endif %}
						{{ task.campaignname }}
					</a>
				</td>
				<td class="nowrap"><a href="{{ path('dre_task_tracker_task_edit', {'id': task.id}) }}">{{ task.name }}</a></td>
				<td class="nowrap"><a href="{{ path('dre_task_tracker_dev_edit', {'id': task.devid}) }}">{{ task.devname }}</a></td>
				<td class="nowrap">
					{% if task.categoryid == 30 %}<span class="icon-buildout"></span>
					{% elseif task.categoryid == 46 %}<span class="icon-buildout"></span>
					{% elseif task.categoryid == 31 %}<span class="icon-update"></span>
					{% endif %}
					<a href="{{ path('dre_task_tracker_category_edit', {'id': task.categoryid}) }}" title="{{ task.categorytip }}" data-trigger="hover">
						{{ task.categoryname }}
					</a>
				</td>
				<td class="nowrap">{% if task.assets != '' %}{{ task.assets|date("m-d-Y") }}{% endif %}</td>
				<td class="nowrap"><a href="{{ path('dre_task_tracker_manager_edit', {'id': task.managerid}) }}">{{ task.managername }}</a></td>
				<td class="nowrap">
					{% if task.basecamp != '' %}
						<a href="{{ task.basecamp }}" target="_blank" class="text-replace icon-globe">basecamp</a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	{% else %}
		There are no {{ tasktype|default('open') }} tasks currently in our system. Would you like to <a href="{{ path('dre_task_tracker_task_add') }}">add one</a> ?

	{% endif %}

</table>
