<form action="{{ path('dre_task_tracker_task_add', {'template': 'modal'}) }}" method="post" {{ form_enctype(form) }} class="form">
    <div class="row">
        <div class="span6">
            <fieldset>
                <legend>Task Basecamp Info</legend>
                <div class="text name form-group">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="text due form-group">
                    {{ form_label(form.due, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.due) }}
                        {{ form_widget(form.due, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="text basecamp form-group">
                    {{ form_label(form.basecamp, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.basecamp) }}
                        {{ form_widget(form.basecamp, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Campaign Information</legend>
                <div class="select campaign form-group">
                    {{ form_label(form.campaign, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.campaign) }}
                        {{ form_widget(form.campaign, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="text run_start form-group">
                    {{ form_label(form.runstart, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.runstart) }}
                        {{ form_widget(form.runstart, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="text run_end form-group">
                    {{ form_label(form.runend, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.runend) }}
                        {{ form_widget(form.runend, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <fieldset>
                <legend>People</legend>
                <div class="text manager form-group">
                    {{ form_label(form.manager, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.manager) }}
                        {{ form_widget(form.manager, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="text dev form-group">
                    {{ form_label(form.dev, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.dev) }}
                        {{ form_widget(form.dev, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Tracking Info</legend>
                <div class="text category form-group">
                    {{ form_label(form.category, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.category) }}
                        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="text added form-group">
                    {{ form_label(form.added, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.added) }}
                        {{ form_widget(form.added, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="text assets form-group">
                    {{ form_label(form.assets, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.assets) }}
                        {{ form_widget(form.assets, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="text completed form-group">
                    {{ form_label(form.completed, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                    <div class="col-lg-9">
                        {{ form_errors(form.completed) }}
                        {{ form_widget(form.completed, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <fieldset>
        <div class="form-group">
            <div class="col-lg-offset-1 col-lg-9">
                {{  form_rest(form) }}
                <br />
                <button type="submit" class="btn btn-default">Add Task</button>
            </div>
        </div>
    </fieldset>
</form>
