<tr>
    <td>
        {% if task.due|date("m-d-Y") < today %}<span class="icon-overdue"></span>
        {% elseif task.due|date("m-d-Y") == today %}<span class="icon-due"></span>
        {% endif %}
    </td>
    <td>
        {{ form_widget(form.due) }}
    </td>
    <td>{{ form_widget(form.added) }}</td>
    <td>{{ form_widget(form.assets) }}</td>
    <td>{{ form_widget(form.completed) }}</td>
    <td>{{ form_widget(form.manager) }}</td>
    <td>{{ form_widget(form.campaign) }}</td>
    <td>{{ form_widget(form.name) }}</td>
    <td>{{ form_widget(form.runstart) }} &mdash; {{ form_widget(form.runend) }}</td>
    <td>{{ form_widget(form.category) }}</td>
    <td>{{ form_widget(form.dev) }}</td>
    <td align="center">
        <a href="{{ path('dre_task_tracker_task_edit', {'id': task.id}) }}" class="text-replace icon-cpgn-edt">edit</a>
        <a href="{{ task.basecamp }}" target="_blank" class="text-replace icon-globe">basecamp</a>
    </td>
</tr>
