{% extends 'dreTaskTrackerBundle:Category:layout.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice {{ noticeclass|default('info') }}">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>New Task Information</h1>
    <form action="{{ path('dre_task_tracker_task_update') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        <div class="row">
            <div class="span9">
                <fieldset>
                    <legend>
	                        Task Basecamp Info <a href="{{ path('dre_task_tracker_task_delete', {'id': task.id, 'redir': 'campaign'}) }}" class="text-replace icon-task-del pull-right">delete</a>
                    </legend>
                    <div class="text name form-group">
                        {{ form_label(form.name, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="text due form-group">
                        {{ form_label(form.due, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.due) }}
	                        <div class="input-group">
                                {{ form_widget(form.due, {'attr': {'class': 'form-control'}}) }}
		                        <span class="input-group-addon">
		                        {% if task.dueupdates != '' %}
			                        {{ task.dueupdates }}
		                        {% endif %}
			                    </span>
	                        </div>
                        </div>
                    </div>
                    <div class="text basecamp form-group">
                        {{ form_label(form.basecamp, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.basecamp) }}
	                        <div class="input-group">
                                {{ form_widget(form.basecamp, {'attr': {'class': 'form-control'}}) }}
		                        <span class="input-group-addon">
			                        <a href="{{ task.basecamp }}" target="_blank" class="text-replace icon-globe">{{ task.basecamp }}</a>
		                        </span>
		                    </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Campaign Information</legend>
                    <div class="select campaign form-group">
                        {{ form_label(form.campaign, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.campaign) }}
	                        <div class="input-group">
                                {{ form_widget(form.campaign, {'attr': {'class': 'form-control'}}) }}
		                        <span class="input-group-addon">
									{% if task.campaign.basecamp != '' %}
										<a href="https://sheknows.basecamphq.com/projects/{{ task.campaign.basecamp }}" target="_blank" class="text-replace icon-globe">basecamp</a>
									{% endif %}
			                        {# Don't show the DSM link if it's not a DSM campaign #}
			                        {% if task.campaign.ionum|length >= 7 %}
				                        <a href="https://dsm.doubleclick.net/tcf/ProposalSummaryDisplay.view?proposalId={{ task.campaign.ionum }}" target="_blank" class="text-replace icon-dsm">dsm</a>
			                        {% endif %}
		                        </span>
		                    </div>
                        </div>
                    </div>
                    <div class="text run_start form-group">
                        {{ form_label(form.runstart, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.runstart) }}
                            {{ form_widget(form.runstart, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="text run_end form-group">
                        {{ form_label(form.runend, null, {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.runend) }}
                            {{ form_widget(form.runend, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="span3">
                <fieldset>
                    <legend>People</legend>
                    <div class="text manager form-group">
                        {{ form_label(form.manager, null, {'label_attr': {'class': 'col-lg-4 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.manager) }}
                            {{ form_widget(form.manager, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
	                <div class="text dev form-group">
		                {{ form_label(form.dev, null, {'label_attr': {'class': 'col-lg-4 control-label'}}) }}
		                <div class="col-lg-8">
			                {{ form_errors(form.dev) }}
			                {{ form_widget(form.dev, {'attr': {'class': 'form-control'}}) }}
		                </div>
	                </div>
                </fieldset>
                <fieldset>
                    <legend>Tracking Info</legend>
                    <div class="text category form-group">
                        {{ form_label(form.category, null, {'label_attr': {'class': 'col-lg-4 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.category) }}
                            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="text added form-group">
                        {{ form_label(form.added, null, {'label_attr': {'class': 'col-lg-4 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.added) }}
                            {{ form_widget(form.added, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="text assets form-group">
                        {{ form_label(form.assets, null, {'label_attr': {'class': 'col-lg-4 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.assets) }}
                            {{ form_widget(form.assets, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="text completed form-group">
                        {{ form_label(form.completed, null, {'label_attr': {'class': 'col-lg-4 control-label'}}) }}
                        <div class="col-lg-8">
                            {{ form_errors(form.completed) }}
                            {{ form_widget(form.completed, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <fieldset>
            <div class="form-group">
                <div class="col-lg-offset-1 col-lg-8">
                    {{  form_rest(form) }}
	                <input type="hidden" name="redir" value="{{ redir }}" />
                    <br />
                    <button type="submit" class="btn btn-default">Update Task</button>
                </div>
            </div>
        </fieldset>
    </form>

{% endblock %}
