{% extends 'dreTaskTrackerBundle:Category:layout.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice {{ noticeclass|default('info') }}">
			{{ flashMessage }}
		</div>
	{% endfor %}

	{% include "dreTaskTrackerBundle:Task:_inc-list.html.twig" %}
	<div class="pagerfanta">

	</div>
{% endblock %}
