{% extends 'dreTaskTrackerBundle:Default:layout.html.twig' %}

{% block title %}Task Tracker{% endblock %}
{% block bodyclass %}home{% endblock %}
{% block body %}
	<h1>Task Tracker<small> - Home</small></h1>
	<br />
	<div class="row">
		<div class="col-lg-6"><!-- start col1 -->
			<div class="tasks">
				<h3># of <a href="{{ path('dre_task_tracker_task') }}">Open Tasks</a>: {{ total_tasks }}</h3>
				<ul>
					{% for tc in count_tasks %}
						<li><a href="{{ path('dre_task_tracker_dev_edit', {'id': tc.id}) }} }}">{{ tc.name }}</a>: {{ tc.count }}</li>
					{% endfor %}
				</ul>
				{% if overdue != '' %}
					<div class="panel panel-default">
						{% set tasks = overdue %}
						<div class="panel-heading">Overdue Tasks</div>
						{% include "dreTaskTrackerBundle:Task:_inc-list-compressed.html.twig" %}
						{% set tasks = '' %}
					</div>
				{% endif %}
				{% if upcoming != ''  %}
					<div class="panel panel-default">
						{% set tasks = upcoming %}
						<div class="panel-heading">Upcoming Tasks</div>
						{% include "dreTaskTrackerBundle:Task:_inc-list-compressed.html.twig" %}
						{% set tasks = '' %}
					</div>
				{% endif %}
			</div>

		</div><!-- end col1 -->

		<div class="col-lg-6"><!-- start col2 -->
			<div class="campaigns">
				<h3># of <a href="{{ path('dre_task_tracker_campaign') }}">Active Campaigns</a>: {{ total_campaigns }}</h3>
				<ul>
					{% for cc in count_campaigns %}
						<li><a href="{{ path('dre_task_tracker_dev_edit', {'id': cc.id}) }} }}">{{ cc.name }}</a>: {{ cc.count }}</li>
					{% endfor %}
				</ul>
				{% if cending != '' %}
					{% set campaigns = cending %}
					<div class="panel panel-default">
						<div class="panel-heading">Campaigns Ending Today</div>
						{% include "dreTaskTrackerBundle:Campaign:_inc-list.html.twig" %}
					</div>
					{% set campaigns = '' %}
				{% endif %}
				{% if cactive != '' %}
					{% set campaigns = cactive %}
					<div class="panel panel-default">
						<div class="panel-heading">Active Campaigns</div>
						{% include "dreTaskTrackerBundle:Campaign:_inc-list.html.twig" %}
					</div>
					{% set campaigns = '' %}
				{% endif %}
			</div>

		</div><!-- end col2 -->
	</div>
{% endblock %}
