<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Affiliate Ad Verification{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="author" content="donna@awdd.net">

	{% block fonts %}
		<link href='http://fonts.googleapis.com/css?family=Metrophobic|Junge' rel='stylesheet' type='text/css'>
	{% endblock %}

	{% block javascriptsheader %}
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://bootstrap.project-array.com/js/html5shiv.js"></script>
		<![endif]-->
		<script>
			function precheckWin()
			{
				var precheckWin = window.open("{{ path('dre_task_tracker_test_takeover_checklist') }}", "PreCheck Checklist", "width=500, height: 750");
			}
		</script>
	{% endblock %}

	{% block stylesheets %}
		<link href="http://bootstrap.project-array.com/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="http://bootstrap.project-array.com/css/bootstrap-responsive.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('bundles/whiteoctoberpagerfanta/css/pagerfantaDefault.css') }}" type="text/css" media="all" />
		<link href="{{ asset('/bundles/dre/tasktracker/css/site.css') }}" rel="stylesheet" type="text/css" />
	{% endblock %}

	{% block favicons %}
		<!-- Fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://bootstrap.project-array.com/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://bootstrap.project-array.com/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://bootstrap.project-array.com/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="http://bootstrap.project-array.com/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="http://bootstrap.project-array.com/ico/favicon.png">
	{% endblock %}
</head>

<body class="{% block bodyclass %}{% endblock %}">

{% block navigation %}
{# <!-- Navigation Block --> #}
<div class="bs-example">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{ path('dre_task_tracker_homepage') }}">Task Tracker</a>
		</div>

		<ul class="nav navbar-nav">
			<li ><a href="{{ path('dre_task_tracker_task') }}">Task List</a></li>
			<li ><a href="{{ path('dre_task_tracker_campaign') }}">Campaign List</a></li>
			<li><a href="{{ path('dre_task_tracker_report') }}">Reports</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick tasks <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="{{ path('dre_task_tracker_task_add') }}"><span class="icon-task-add"></span> New Task</a></li>
					<li><a href="{{ path('dre_task_tracker_campaign_add')}}"><span class="icon-cpgn-add"></span> New Campaign</a></li>
					<li class="divider"></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">AdOps <b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="{{ path('dre_task_tracker_test_ad')}}"><span class=""></span> Ad Tag Testing</a></li>
					<li><a href="#" onclick="precheckWin()"><span class=""></span> Takeover Checklist</a></li>
					<li class="divider"></li>
				</ul>
			</li>
		</ul>
		<form class="col-sm-2" role="form" action="{{ path('dre_task_tracker_search') }}">
			<div class="input-group">
				<input name="searchfor" type="text" class="form-control input-sm" id="navSearch" placeholder="...Search...">
				<span class="input-group-btn">
					<button class="btn btn-sm" type="button">Search</button>
				</span>
			</div>
		</form>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="{{ path('dre_task_tracker_homepage') }}">Home</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
				<ul class="dropdown-menu pull-right" role="menu">
					<!--li role="presentation" class="dropdown-header">Categories</li-->
					<li><a href="{{ path('dre_task_tracker_task') }}"><span class="icon-task"></span> Tasks</a></li>
					<li><a href="{{ path('dre_task_tracker_campaign') }}"><span class="icon-campaign"></span> Campaigns</a></li>
					<li class="divider"></li>
					<li><a href="{{ path('dre_task_tracker_category') }}"><span class="icon-category"></span> Categories</a></li>
					<li><a href="{{ path('dre_task_tracker_manager') }}"><span class="icon-manager"></span> Managers</a></li>
					<li><a href="{{ path('dre_task_tracker_dev') }}"><span class="icon-dev"></span> Devs</a></li>
                    <li><a href="{{ path('dre_task_tracker_coordinator') }}"> Coordinators</a></li>
					<li><a href="{{ path('dre_task_tracker_reach') }}"><span class="icon-reach"></span> Reaches</a></li>
				</ul>
			</li>
            <li>

            </li>
		</ul>
        <p class="navbar-text navbar-right">{{ "now"|date("m-d-Y", "America/Phoenix") }}</p>
	</nav>
</div>{# <!-- /Navigation Block --> #}
{% endblock %}
{% block body %}
{% endblock %}

{% block footer %}
<footer>
	<p>&copy; donna@awdd.net 2013-{{ "now"|date("Y") }}</p>
</footer>
{% endblock %}
<!--/.fluid-container-->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://bootstrap.project-array.com/js/jquery-1.9.1.min.js"></script>
<script src="http://bootstrap.project-array.com/js/transition.js"></script>
<script src="http://bootstrap.project-array.com/js/collapse.js"></script>
<script src="http://bootstrap.project-array.com/js/bootstrap-alert.js"></script>
<script src="http://bootstrap.project-array.com/js/bootstrap-modal.js"></script>
<script src="http://bootstrap.project-array.com/js/bootstrap-dropdown.js"></script>
<script src="http://bootstrap.project-array.com/js/bootstrap-scrollspy.js"></script>
<script src="http://bootstrap.project-array.com/js/bootstrap-tab.js"></script>
<script src="http://bootstrap.project-array.com/js/bootstrap-tooltip.js"></script>
<script src="http://bootstrap.project-array.com/js/bootstrap-popover.js"></script>
<script src="http://bootstrap.project-array.com/js/bootstrap-button.js"></script>
<script src="http://bootstrap.project-array.com/js/bootstrap-carousel.js"></script>
<script src="http://bootstrap.project-array.com/js/bootstrap-typeahead.js"></script>
<script src="http://bootstrap.project-array.com/js/bootstrap-affix.js"></script>
</body>
</html>
