{% extends 'dreTaskTrackerBundle:Default:layout.html.twig' %}

{% block title %}Task Tracker{% endblock %}
{% block body %}
<h1>Search results for '{{ searchfor|capitalize }}'</h1>
	<br />
	{% if tasks %}
		{% include "dreTaskTrackerBundle:Task:_inc-list.html.twig" %}
		<hr />
	{% endif %}

	{% if campaigns %}
		{% include "dreTaskTrackerBundle:Campaign:_inc-list.html.twig" %}
		<hr />
	{% endif %}

	{% if categories %}
		<h2>Categories</h2>

		{% include "dreTaskTrackerBundle:Category:_inc-list.html.twig" %}
		<hr />
	{% endif %}

	{% if managers %}
		<h2>Managers</h2>

		{% include "dreTaskTrackerBundle:Manager:_inc-list.html.twig" %}
		<hr />
	{% endif %}

	{% if devs %}
		<h2>Devs</h2>

		{% include "dreTaskTrackerBundle:Dev:_inc-list.html.twig" %}
		<hr />
	{% endif %}
{% endblock %}
