<table class="table-condensed table-striped table-hover">
	<thead>
	<tr> {# if you update the columns, update the colspan at the bottom of the for statement #}
		<th>
			Name
			<a href="#" class="text-replace icon-sort-alpa-asc">asc</a>
			<a href="#" class="text-replace icon-sort-alpa-dsc">dsc</a>
		</th>
		<th>
			Campaigns
		</th>
		<th>
			Tasks
		</th>
		<th>
			Bascamp
			<a href="#" class="text-replace icon-sort-num-asc">asc</a>
			<a href="#" class="text-replace icon-sort-num-dsc">dsc</a>
		</th>
		<th>
			Actions
		</th>
	</tr>
	</thead>
	<tbody>
	{% if devs %}
		{% for dev in devs %}
			<tr>
				<td><a href="{{ path('dre_task_tracker_dev_edit', {'id': dev.id}) }}">{{ dev.name }}</a></td>
				<td align="center"><span class="badge">{{ dev.campaign|length }}</span></td>
				<td align="center"><span class="badge">{{ dev.task|length }}</span></td>
				<td><a href="https://sheknows.basecamphq.com/milestones/responsibilities?responsible_party={{ dev.basecamp }}" target="_blank">{{ dev.basecamp }}</a></td>
				<td align="center">
					<a href="{{ path('dre_task_tracker_dev_edit', {'id': dev.id}) }}" class="icon-dev-edt text-replace">edit</a>
					<a href="{{ path('dre_task_tracker_dev_delete', {'id': dev.id}) }}" class="icon-dev-del text-replace">delete</a>
					<a href="https://sheknows.basecamphq.com/milestones/responsibilities?responsible_party={{ dev.basecamp }}" target="_blank" class="icon-globe text-replace">basecamp</a>
				</td>
			</tr>
		{% endfor %}
		<tr>
			<td colspan="4"><a href="{{ path('dre_task_tracker_dev_add') }}"><span class="icon-dev-add"></span>&nbsp; Add a new Dev</a></td>
		</tr>
	{% else %}
		There are no Devs currently in our system. Would you like to <a href="{{ path('dre_task_tracker_dev_add') }}">add one</a> ?
	{% endif %}
	</tbody>
</table>
