{% extends 'dreTaskTrackerBundle:Dev:layout.html.twig' %}

{% block title %}Edit a Dev{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">{{ flashMessage }}</div>
	{% endfor %}
	<h1>Dev Information</h1>
	<div class="row">
		<div class="span4">
			<form action="{{ path('dre_task_tracker_dev_update') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
				<fieldset>
					<legend>Category Details</legend>
					<div class="text name form-group">
						{{ form_label(form.name, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
						<div class="col-lg-8">
							{{ form_errors(form.name) }}
							{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="text basecamp form-group">
						{{ form_label(form.basecamp, null, {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
						<div class="col-lg-8">
							{{ form_errors(form.basecamp) }}
							<div class="input-group">
							{{ form_widget(form.basecamp, {'attr': {'class': 'form-control'}}) }}
								<span class="input-group-addon">
									<a href="https://sheknows.basecamphq.com/milestones/responsibilities?responsible_party={{ dev.basecamp }}" target="_blank" class="text-replace icon-globe">{{ dev.basecamp }}</a>
								</span>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-1 col-lg-8">
							{{  form_rest(form) }}
							<br />
							<button type="submit" class="btn btn-default">Update Dev</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="span6">
			<legend>Tasks <span class="badge">{{ dev.task|length }}</span></legend>
			<table class="table-condensed table-striped table-hover">
				<tr>
					<th class="nowrap">Date Due</th>
					<th class="nowrap">Completed</th>
					<th class="nowrap">Assets</th>
					<th colspan="2">Task</th>
				</tr>
				{% for task in dev.task %}
					<tr>
						<td valign="top" class="nowrap">{{ task.due|date("m-d-Y") }}</td>
						<td valign="top" class="nowrap">{% if task.completed != '' %}{{ task.completed|date("m-d-Y") }}{% endif %}</td>
						<td valign="top" class="nowrap">{% if task.assets != '' %}{{ task.assets|date("m-d-Y") }}{% endif %}</td>
						<td><a href="{{ path('dre_task_tracker_task_edit', {'id': task.id}) }}">{{ task.name }}</a></td>
						<td><a href="{{ task.basecamp }}" target="_blank" class="text-replace icon-globe">basecamp</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="span5">
			<legend>Campaigns <span class="badge">{{ dev.campaign|length }}</span></legend>
			<table class="table-condensed table-striped table-hover">
				<tr>
					<th>End Date</th>
					<th colspan="2">Campaign</th>
				</tr>
				{% for campaign in dev.campaign %}
					<tr>
						<td>{{ campaign.end|date("m-d-Y") }}</td>
						<td><a href="{{ path('dre_task_tracker_campaign_edit', {'id': campaign.id}) }}">{{ campaign.ionum }} - {{ campaign.name }}</a></td>
						<td valign="top">
							{% if campaign.basecamp != '' %}
								<a href="https://sheknows.basecamphq.com/projects/{{ campaign.basecamp }}" target="_blank" class="text-replace icon-globe">basecamp</a>
							{% endif %}
							{# Don't show the DSM link if it's not a DSM campaign #}
							{% if campaign.ionum|length >= 7 %}
								<a href="https://dsm.doubleclick.net/tcf/ProposalSummaryDisplay.view?proposalId={{ campaign.ionum }}" target="_blank" class="text-replace icon-dsm">dsm</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}
