{% extends 'dreTaskTrackerBundle:Dev:layout.html.twig' %}

{% block title %}Dev Listings{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">
			{{ flashMessage }}
		</div>
	{% endfor %}
	<h1>Dev Listing</h1>
	{% include "dreTaskTrackerBundle:Dev:_inc-list.html.twig" %}
{% endblock %}
