<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<script id="tinyhippos-injected">if (window.top.ripple) { window.top.ripple("bootstrap").inject(window, document); }</script>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="description" content="Text Compare! is an online diff tool that can find the difference between two texts. Just paste and compare.">

	<script type="text/javascript" src="http://bootstrap.project-array.com/js/jquery-1.9.1.min.js"></script>
	<!--<script type="text/javascript" src="http://bootstrap.project-array.com/js/text-compare/menu171.js"></script>-->
	<script type="text/javascript" src="http://bootstrap.project-array.com/js/text-compare/jquery.glow.min.js"></script>
	<script type="text/javascript" src="http://bootstrap.project-array.com/js/text-compare/jquery.hotkeys.min.js"></script>
	<script type="text/javascript" src="http://bootstrap.project-array.com/js/text-compare/jquery.dropdown.js"></script>

	<link type="text/css" rel="stylesheet" href="http://bootstrap.project-array.com/css/text-compare/jquery.dropdown.css">
	<link href="http://bootstrap.project-array.com/css/text-compare/text-compare.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" href="http://bootstrap.project-array.com/css/bootstrap.css">

	<title>Text Compare! - An online diff tool that can find the difference between two texts</title>

<body style="zoom: 1;">

<div class="mainContent">
	<style type="text/css">

		.text-compare {
			border: 1px solid #ababab;
			background: white;
			line-height: normal;
		}

		.text-compare, div.sendEmail {
			width: 98%;
			margin-left: auto;
			margin-right: auto;
		}

		tbody {
			border: none;
		}

		.text-compare td {
			font-family: monospace;
		}

		colgroup {
			border-color: #ababab;
		}

		.link_first {
			background-image:url('http://www.text-compare.com/media/tc-arrow-down-green.png');
			background-position: top;
			background-repeat: no-repeat;
		}

		.link_next {
			background-image:url('http://www.text-compare.com/media/tc-arrow-down-blue.png');
			background-position: top;
			background-repeat: no-repeat;
		}

		.link_top {
			background-image:url('http://www.text-compare.com/media/tc-arrow-up-orange.png');
			background-position: top;
			background-repeat: no-repeat;
		}

		.link_top, .link_next, .link_first {
			height: 12px;
			width: 11px;
		}

		.diff_next {
			width: 11px;
		}

		.text_next, .text_first, .text_top {
			visibility: hidden;
		}

		td {
			padding-left: 2px;
			padding-right: 2px;
		}

		.diff_header {
			width: 1em;
		}

		.difference {
			width: 1em;
			background: #A9D0F5;
		}

		.has_difference {
			background: #97D397;
			width: 1em;
		}

		.diff_header, .diff_next {
			vertical-align:top;
			background: #dedede;
		}

		.diff_next {
			padding-top:2px;
		}

		.lineContent {
			vertical-align:top;
			text-align:left;
		}
	</style>


	<script type="text/javascript">

		function isValidEmailAddress(emailAddress) {
			var pattern = new RegExp(/^(("[\w-+\s]+")|([\w-+]+(?:\.[\w-+]+)*)|("[\w-+\s]+")([\w-+]+(?:\.[\w-+]+)*))(@((?:[\w-+]+\.)*\w[\w-+]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][\d]\.|1[\d]{2}\.|[\d]{1,2}\.))((25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\.){2}(25[0-5]|2[0-4][\d]|1[\d]{2}|[\d]{1,2})\]?$)/i);
			return pattern.test(emailAddress);
		};

		var help_text_1 = 'Paste one version of a text here.';
		var help_text_2 = 'Paste another version of the text here.';
		$(document).ready(function() {
			if ($('#inputText1').val() == '') {
				$('#inputText1').val(help_text_1);
			}
			if ($('#inputText2').val() == '') {
				$('#inputText2').val(help_text_2);
			}

			$('#clearButton').click( function() {
				$('#inputText1').val('');
				$('#inputText2').val('');
				$('.messageForUser').remove();
				$('.text-compare').remove();
				$('.sendEmail').remove();
			});

			$('#toLowerCaseButton').click( function() {
				$('#inputText1').val($('#inputText1').val().toLowerCase());
				$('#inputText2').val($('#inputText2').val().toLowerCase());
			});

			function reorderLinesInTextArea(idTextArea) {
				var line_list =  $(idTextArea).val().split(/\n/);
				line_list.sort(function(a, b) {
					return a.toUpperCase().localeCompare(b.toUpperCase());
				})
				$(idTextArea).val(line_list.join('\n'));
			}

			$('#sortLinesButton').click( function() {

				reorderLinesInTextArea('#inputText1');
				reorderLinesInTextArea('#inputText2');
			});

			$('#replaceLineBreaks').click( function() {
				$('#inputText1').val($('#inputText1').val().replace(/\n/g, " "));
				$('#inputText2').val($('#inputText2').val().replace(/\n/g, " "));
			});


			function stripExcessWhiteSpace(string) {
				// remove tabs
				string = string.replace(/\t/g, '')
				// replace multiple spaces with one space.
				string = string.replace(/ ( )+/g, ' ');
				// remove leading and trailing spaces
				string = string.replace(/( \n)/g, '\n');
				string = string.replace(/(\n )/g, '\n');
				// replace multiple newlines with just one newline.
				string = string.replace(/\n(\n)+/g, '\n');

				return string.trim();
			}

			$('#removeExcessWhiteSpace').click( function() {
				$('#inputText1').val( stripExcessWhiteSpace($('#inputText1').val()) );
				$('#inputText2').val( stripExcessWhiteSpace($('#inputText2').val()) );
			});

			$('#switchButton').click( function() {


				$('#inputText1').before($('#inputText2'));


				$('#inputText1').attr("id", "tempid");
				$('#tempid').attr("name", "tempname");


				$('#inputText2').attr("id", "inputText1");
				$('#inputText1').attr("name", "text1");


				$('#tempid').attr("id", "inputText2");
				$('#inputText2').attr("name", "text2");


				$('#inputText1').attr("style", "margin: 5px;");
				$('#inputText2').attr("style", "margin: 5px;");

			});

			setTimeout(function() { $('.link_first').parent().glow('#4E905D'); }, 500);
			setTimeout(function() { $('.link_next').parent().glow('#4E905D'); }, 500);
			setTimeout(function() { $('.link_top').parent().glow('#4E905D'); }, 500);

			jQuery(document).bind('keydown', 'Alt+Ctrl+c',function (evt){jQuery('#compareButton').click(); return false; });
			jQuery('.inputText').bind('keydown', 'Alt+Ctrl+c',function (evt){jQuery('#compareButton').click(); return false; });

			jQuery(document).bind('keydown', 'Alt+Ctrl+r',function (evt){jQuery('#clearButton').click(); return false; });
			jQuery('.inputText').bind('keydown', 'Alt+Ctrl+r',function (evt){jQuery('#clearButton').click(); return false; });

			jQuery(document).bind('keydown', 'Alt+Ctrl+s',function (evt){jQuery('#switchButton').click(); return false; });
			jQuery('.inputText').bind('keydown', 'Alt+Ctrl+s',function (evt){jQuery('#switchButton').click(); return false; });


		});


	</script>

	<form method="post" action="{{ path('dre_task_tracker_test_ad_compare_inc') }}">
		<div>
			<table>
				<tbody><tr>
					<td width="48%" class="extraOptionsLeft">
						<button type="button" class="btn btn-default" id="switchButton">Switch texts</button>
					</td>
					<td width="4%">
						<button type="submit" class="compareButton btn btn-success" id="compareButton"><div class="compareButtonText">Compare!</div></button>
					</td>
					<td width="48%" class="extraOptionsRight">
						<button type="button" class="btn btn-default" id="clearButton">Clear all</button>
					</td>
				</tr>
				</tbody></table>

			<textarea name="text1" cols="80" rows="20" class="inputText" id="inputText1" onfocus="this.value=&#39;&#39;; this.onfocus=null;"></textarea>

			<textarea name="text2" cols="80" rows="20" class="inputText" id="inputText2" onfocus="this.value=&#39;&#39;; this.onfocus=null;"></textarea>

		</div>
	</form>



</div>

<!--<script type="text/javascript" src="http://bootstrap.project-array.com/js/text-compare/core180.js"></script>-->


<script id="hiddenlpsubmitdiv" style="display: none;"></script>
<script>try {
		for (var lastpass_iter = 0; lastpass_iter < document.forms.length; lastpass_iter++) {
			var lastpass_f = document.forms[lastpass_iter];
			if (typeof(lastpass_f.lpsubmitorig2) == "undefined") {
				lastpass_f.lpsubmitorig2 = lastpass_f.submit;
				lastpass_f.submit = function () {
					var form = this;
					var customEvent = document.createEvent("Event");
					customEvent.initEvent("lpCustomEvent", true, true);
					var d = document.getElementById("hiddenlpsubmitdiv");
					if (d) {
						for (var i = 0; i < document.forms.length; i++) {
							if (document.forms[i] == form) {
								if (typeof(d.innerText) != 'undefined') {
									d.innerText = i;
								} else {
									d.textContent = i;
								}
							}
						}
						d.dispatchEvent(customEvent);
					}
					form.lpsubmitorig2();
				}
			}
		}
	} catch (e) {
	}</script>
</body>
</html>
