{% extends 'dreTaskTrackerBundle:Test:layout.html.twig' %}

{% block title %}Ad Tag Testing{% endblock %}

{% block body %}
{# Symfony version -------------------------------------------------------------------------------------------------- #}
    <h1>Compare Ad Tags</h1>
    <iframe src="{{ path('dre_task_tracker_test_ad_compare_inc') }}" style="border:0px #FFFFFF none;" name="adCompare" scrolling="yes" frameborder="1" marginheight="0px" marginwidth="0px" height="500px" width="100%" /></iframe>
{#
    <h1>Compare Ad Tags</h1>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice {{ noticeclass|default('info') }}">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if adview != '' %}
        <div class="row">
            <div class="col-lg-6">
                <h2>File Ad Tag</h2>
                <div>{{ adview.file }}</div>
                {% if filetest %}
                    <ul class="adopsdiff">
                        {% for file in filetest %}
                            <li>{{ file }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <h2>DFP Ad Tag</h2>
                <div>{{ adview.dfp }}</div>
                {% if dfptest %}
                    <ul class="adopsdiff">
                    {% for dfp in dfptest %}
                        <li>{{ dfp }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="height: 20px;"></div>
        <hr />
    {% endif %}
    <div class="row">
    <form action="{{ path('dre_task_tracker_test_ad_compare') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        <div class="row">

                <fieldset>
                    <legend>Tags to Compare</legend>
                    <div class="col-lg-6">
                        <div class="text file form-group">
                            {{ form_label(form.file, "Ad from File : ", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                            <div class="col-lg-9">
                                {{ form_errors(form.file) }}
                                {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text dfp form-group">
                            {{ form_label(form.dfp, "Ad from DFP : ", {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
                            <div class="col-lg-9">
                                {{ form_errors(form.dfp) }}
                                {{ form_widget(form.dfp, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-1">
                            {{  form_rest(form) }}
                            <br />
                            <button type="submit" class="btn btn-default">Compare Ads</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <fieldset>
            <div class="form-group">
            </div>
        </fieldset>
    </form>
    </div>
#}
{# end Symfony version ---------------------------------------------------------------------------------------------- #}
{% endblock %}
