{% extends 'dreTaskTrackerBundle:Test:layout.html.twig' %}

{% block title %}Ad Tag Testing{% endblock %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice {{ noticeclass|default('info') }}">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if adview != '' %}
        <h1>Testable Ad</h1>
	    {% if showad == 1 %}
        <fieldset>
            <legend>Ad Tag ( right-click to open in a new tab)</legend>
            {{ adview|raw }}
        </fieldset>
		{% endif %}
	    <div class="row">
		    <div class="span9">
			    <fieldset>
				    <legend>Ad Tag Code</legend>
				    {{ adview }}
			    </fieldset>
		    </div>
		    <div class="span2"></div>
		    <div class="span9">
			    <fieldset>
				    <legend>Ad Tag Info</legend>
				    <ul>
					    <li>Size: {{ adinfo.size }}</li>
					    <li>Sources:
						    <ul>
							    {% for l,s in adinfo.src %}
								    <li>
									    <b>{{ l|capitalize }}</b>:
									    {% if adinfo.size == "1x1" %}<a href="http://{{ s }}" target="_blank">{{ s }}</a>
									    {% elseif l == "javascript" %}<a href="http://{{ s }}" target="_blank">{{ s }}</a>
									    {% else %}{{ s }}
									    {% endif %}
								    </li>
							    {% endfor %}
						    </ul>
					    </li>
				    </ul>
			    </fieldset>
		    </div>
	    </div>
        <div class="height: 20px;"></div>
        <hr />
    {% endif %}
    <div class="row">
        <div class="span10">
		    <h1>Test Ad Tag</h1>
		    <form action="{{ path('dre_task_tracker_test_ad') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                <fieldset>
                    <legend>Enter Ad Tag</legend>
	                <div class="text name form-group">
		                <div class="col-lg">
			                {{ form_errors(form.showad) }}
			                {{ form_label(form.showad, 'Toggle to show or hide ads from preview', {'attr': {'class': 'checkbox'}}) }}
			                {{ form_widget(form.showad, {'attr': {'class': 'checkbox'}}) }}
		                </div>
	                </div>
                    <div class="text name form-group">
                        <div class="col-lg">
                            {{ form_errors(form.testad) }}
                            {{ form_widget(form.testad, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6">
                            {{  form_rest(form) }}
                            <br />
                            <button type="submit" class="btn btn-default">Test Ad</button>
                        </div>
                    </div>
                </fieldset>

        <fieldset>
            <div class="form-group">
            </div>
        </fieldset>
    </form>
        </div>
    </div>

{% endblock %}
