{% extends 'dreTaskTrackerBundle:Test:layout.html.twig' %}
{% block navigation %}{% endblock %}
{% block footer %}{% endblock %}

{% block javascriptsheader %}
	{{ parent() }}
	<script src="/bundles/dre/tasktracker/js/qaJS.js"></script>
{% endblock %}

{% block title %}Pre-Campaign Checklist{% endblock %}

{% block body %}
	<fieldset>
		<legend>Live line item pre-check</legend>
		<form class="form-horizontal">
			<div class="clearall"></div>
			<div class="pcnotes" id="pcnotes"></div>
			<div class="col-lg">
				{{ form_label(form.copyliveurl, 'Copied Live Line Item URL to Jira', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.copyliveurl, {'attr': {'class': 'checkbox copyliveurl', 'onChange': 'loopPreCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.sponsorship, 'Sponsorship Level = 2', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.sponsorship, {'attr': {'class': 'checkbox sponsorship', 'onChange': 'loopPreCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.starttime, 'Start Time: 12:00 AM EST', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.starttime, {'attr': {'class': 'checkbox starttime', 'onChange': 'loopPreCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.endtime, 'End Time: 11:59 PM', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.endtime, {'attr': {'class': 'checkbox endtime', 'onChange': 'loopPreCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.targetinventory, 'Target Inventory is the appropriate page', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.targetinventory, {'attr': {'class': 'checkbox targetinventory', 'onChange': 'loopPreCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.targetgeo, 'Target geography is appropriate', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.targetgeo, {'attr': {'class': 'checkbox targetgeo', 'onChange': 'loopPreCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.targetdevice, 'Target Device (Desktop, tablet, smart phone, or nothing)', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.targetdevice, {'attr': {'class': 'checkbox targetdevice', 'onChange': 'loopPreCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.creatives, 'Normal takeover = 6, Homepage = 2', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.creatives, {'attr': {'class': 'checkbox creatives', 'onChange': 'loopPreCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.multiple300x250, 'Non-homepage takeover creatives has multiple 300x250', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.multiple300x250, {'attr': {'class': 'checkbox multiple300x250', 'onChange': 'loopPreCheck()'}}) }}
			</div>
	</fieldset>
	<fieldset>
		<legend>QA line item pre-check</legend>
			<div class="qanotes" id="qanotes"></div>
			<div class="col-lg">
				{{ form_label(form.copyqaurl, 'Copied QA Line Item URL to Jira', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.copyqaurl, {'attr': {'class': 'checkbox copyqaurl', 'onChange': 'loopQaCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.qatest, 'Add T_est to Custom Fields ', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.qatest, {'attr': {'class': 'checkbox qatest', 'onChange': 'loopQaCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.qasponsorship, 'Set Sponsorship to Level 1', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.qasponsorship, {'attr': {'class': 'checkbox qasponsorship', 'onChange': 'loopQaCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.qastarttime, 'Set Start Time to Immediately', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.qastarttime, {'attr': {'class': 'checkbox qastarttime', 'onChange': 'loopQaCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.qaendtime, 'End Time: Today @ 11:59 PM', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.qaendtime, {'attr': {'class': 'checkbox qaendtime', 'onChange': 'loopQaCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.qatargetrate, 'Rate set to 0', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.qatargetrate, {'attr': {'class': 'checkbox qatargetrate', 'onChange': 'loopQaCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.qatargetcn, 'Added Custom Campaign Name Value', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.qatargetcn, {'attr': {'class': 'checkbox qatargetcn', 'onChange': 'loopQaCheck()'}}) }}
			</div>
			<div class="clearall"></div>
			<div class="col-lg">
				{{ form_label(form.qatargetgeo, 'Target geography is updated if needed', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.qatargetgeo, {'attr': {'class': 'checkbox qatargetgeo', 'onChange': 'loopQaCheck()'}}) }}
			</div>
			<div class="clearall"></div>
	</fieldset>
	<fieldset>
		<legend>QA Line Archive</legend>
			<div class="col-lg">
				{{ form_label(form.qaarchive, 'Archive completed line item', {'label_attr': {'class': 'col-lg-1 control-label'}}) }}
				{{ form_widget(form.qaarchive, {'attr': {'class': 'checkbox', 'onChange': 'loopArchive()'}}) }}
			</div>
			<div class="clearall"></div>
		{{  form_rest(form) }}
		</form>
	</fieldset>
{% endblock %}
