<table class="table-condensed table-striped table-hover">
	<thead>
	<tr> {# if you update the columns, update the colspan at the bottom of the for statement #}
		<th>
			Name
			<a href="#" class="text-replace icon-sort-alpa-asc">asc</a>
			<a href="#" class="text-replace icon-sort-alpa-dsc">dsc</a>
		</th>
		<th>
			Task Count
			<a href="#" class="text-replace icon-sort-num-asc">asc</a>
			<a href="#" class="text-replace icon-sort-num-dsc">dsc</a>
		</th>
		<th>
			Tip
		</th>
		<th>
			Time
		</th>
		<th>
			Actions
		</th>
	</tr>
	</thead>
	<tbody>
	{% if categories %}
		<tr>
			<td colspan="5" align="right"><a href="{{ path('dre_task_tracker_category_add') }}"><span class="icon-cat-add"></span>&nbsp; Add a new category</a></td>
		</tr>
		{% for category in categories %}
			<tr>
				<td><a href="{{ path('dre_task_tracker_category_edit', {'id': category.id}) }}">{{ category.name }}</a></td>
				<td align="center"><span class="badge">{{ category.task|length }}</span></td>
				<td>{{ category.tip }}</td>
				<td>{% if category.time %}{{ category.time }} hr{% endif %}</td>
				<td align="center">
					<a href="{{ path('dre_task_tracker_category_edit', {'id': category.id}) }}" class="icon-cat-edt text-replace">edit</a>
					<a href="{{ path('dre_task_tracker_category_delete', {'id': category.id}) }}" class="icon-cat-del text-replace">delete</a>
				</td>
			</tr>
		{% endfor %}
	{% else %}
		There are no categories currently in our system. Would you like to <a href="{{ path('dre_task_tracker_category_add') }}">add one</a> ?
	{% endif %}
	</tbody>
</table>
