{% set total = ''  %}
<table class="table-bordered">
	<thead>
	<tr>
		<th colspan="2">By Category</th>
	</tr>
	</thead>
	<tbody>
	{% for cat in byCat %}
		{% if cat.taskcount != 0 %}
			<tr>
				<td>{{ cat.catname }}</td>
				<td>{{ cat.taskcount }}</td>
				{% set total = total + cat.taskcount %}
			</tr>
		{% endif %}
	{% endfor %}
	<tr>
		<th>Total:</th>
		<th>{{ total }}</th>
	</tr>
	</tbody>
</table>
