{% extends 'dreTaskTrackerBundle:Category:layout.html.twig' %}

{% block title %}Edit a catgory{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">{{ flashMessage }}</div>
	{% endfor %}
	<h1>Category Information</h1>
	<div class="row">
		<div class="span6">
			<form action="{{ path('dre_task_tracker_category_update') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
				<fieldset>
					<legend>Category Details</legend>
					<div class="text name form-group">
						{{ form_label(form.name, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
						<div class="col-lg-8">
							{{ form_errors(form.name) }}
							{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="text tip form-group">
						{{ form_label(form.tip, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
						<div class="col-lg-8">
							{{ form_errors(form.tip) }}
							{{ form_widget(form.tip, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="text time form-group">
						{{ form_label(form.time, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
						<div class="col-lg-8">
							{{ form_errors(form.time) }}
							{{ form_widget(form.time, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-5">
							{{  form_rest(form) }}
							<br />
							<button type="submit" class="btn btn-default">Update category</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="span6">
			<legend>Tasks <span class="badge">{{ category.task|length }}</span></legend>
			<table class="table-condensed table-striped table-hover">
				<tr>
					<th style="white-space: nowrap;">Date Due</th>
					<th>Completed</th>
					<th>Assets</th>
					<th colspan="2">Task</th>
				</tr>
				{% for task in category.task %}
					<tr>
						<td valign="top">{{ task.due|date("m-d-Y") }}</td>
						<td valign="top" class="nowrap">{% if task.completed != '' %}{{ task.completed|date("m-d-Y") }}{% endif %}</td>
						<td valign="top" class="nowrap">{% if task.assets != '' %}{{ task.assets|date("m-d-Y") }}{% endif %}</td>
						<td><a href="{{ path('dre_task_tracker_task_edit', {'id': task.id}) }}">{{ task.name }}</a></td>
						<td><a href="{{ task.basecamp }}" target="_blank" class="text-replace icon-globe">basecamp</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}
