{% extends 'dreTaskTrackerBundle:Category:layout.html.twig' %}

{% block title %}Categories Listings{% endblock %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class="flash-notice">
			{{ flashMessage }}
		</div>
	{% endfor %}
	<h1>Task Category Listing</h1>
	{% include "dreTaskTrackerBundle:Category:_inc-list.html.twig" %}
{% endblock %}
