<form action="{{ path('dre_task_tracker_bcbarcode_decode') }}" method="post" {{ form_enctype(form) }} class="form-horizontal bcdecode">
<fieldset>
	<legend>Paste Your Barcode Here</legend>
</fieldset>

<div class="form-group">
	<div class="col-lg col-lg-10">
		<div class="text barcode form-group">
			{{ form_label(form.barcode, null, {'label_attr': {'class': 'col-lg-2 control-label'}}) }}
			<div class="col-lg-8">
				{{ form_errors(form.barcode) }}
				{{ form_widget(form.barcode, { 'attr': {'class': 'form-control'} }) }}
			</div>
		</div>
		{{ form_rest(form) }}
		<br />
		<div class="col-lg-offset-2">
			<button type="submit" clsas="btn btn-default">Decode</button>
		</div>
	</div>
</div>
</form>

